
#message {
    display:none;
    /*  background: #f1f1f1;*/
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10%;
}

#message p {
    padding: 5px 45px;
    font-size: 13px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -5px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -5px;
    content: "✖";
}


.confirm-error {
    border:2px solid red;
  }

